*ipynb
!Aula_09_Predicao.ipynb
!Aula_10_Regressao_Avaliacao.ipynb
!Aula_11_Classificacao_Clusterizacao.ipynb
!Aula_12_BigData_Spark.ipynb
/Testes
/Provas e Exercícios
/.venv
/venv
/.tmp_verify_xml_raw
